#footer1
{
   
    position: fixed;
    bottom: 0;
    left: 0;
    z-index:5;
    width: 100%;
    min-width: 600px;
	height:40px;
	background:#101010 ;
	display: inline-block;
}
#ssbox1{
	position: relative;
	top: 120px;
	width: auto;
	height: auto;
	
	padding-top: 60px;
	padding-left: 50px;
	padding-right: 50px;
	
}